





<ul id="employee-list">
<% unless @employees.empty? %>
  <li class="heading"><%=  t('employee_name') %></li>
    <%- @employees.each do |e| -%>
      <li class="list<%=cycle('even','odd')  %>">
        <div class="employee-name"><%= link_to "#{e.first_name} #{e.last_name} (#{e.employee_number})", :controller=>"employee", :action=>"create_monthly_payslip", :id=>e.id %></div>
      </li>
     <% end %>

  <% else %>
<p class="flash-msg"><%= t('flash43') %></p>
  <% end %>
</ul>
