





<ul id="employee-list">
<% unless @employees.empty? %>
  <li class="heading"> <%= t('employee_name') %> </li>
    <%- @employees.each do |e| -%>
      <li class="list<%=cycle('even','odd')  %>">
        <div class="employee-name"><%= link_to "#{e.employee.first_name}  ", :controller=>"employee", :action=>"view_rejected_payslip", :id=>e.employee_id, :id2=>e.salary_date %></div>
      </li>
     <% end %>

  <% else %>
<p class="flash-msg"> <%= t('message1') %> </p>
  <% end %>
</ul>
