

<div id="new_profile_info_top">
  <div class="profile_info_label_top"> <%= t('reporting_manager') %></div>
  <div class="profile_info_text_top">
    <%=  @reporting_manager%>
  </div>

</div>



<div class="extender"></div>
<div class="edit-pdf-group">
  <% if permitted_to? :change_reporting_manager, :employee %>
    <div class="edit">
      <%= link_to "► #{t('edit_text')}",  :controller => "employee", :action => "change_reporting_manager", :id =>@employee.id %>
    </div>
  <%end%>
</div>