

<% remote_form_for :payslip_accept, :url=>{:controller=>'finance', :action=>'employee_payslip_approve', :id=>@id1, :id2=>@id2} do |f| %>
  <div class="label-field-pair">
    <label for="employee_name" class="reason"><%= t('remark') %></label>
    <div class="text-input-bg"><%= f.text_field :remark %></div>
  </div>
<%= f.submit "#{t('submit')}", :class=>"submit-button" %>
<% end %>
