

<div id="pdf-header">
  <div class="logo">
    <%= wicked_pdf_image_tag "/"+(current_school_detail.logo.path||"#{Rails.root}/public/images/application/mypatshala.jpg") %>
  </div>
  <div class="header-content">
    <p><%=Configuration.get_config_value('InstitutionName'); %></p>
    <p><%=Configuration.get_config_value('InstitutionAddress'); %></p>
  </div>

</div>
